PROJECT_NAME=internet-lab
COMPOSE_PROJECT_NAME=${PROJECT_NAME}-local

APP_ENV=dev
APP_DEBUG=true
APP_SECRET=secret

#nginx
NGINX_PORT=80
NGINX_HOST=${PROJECT_NAME}.local

#db
POSTGRES_DB=${PROJECT_NAME}
POSTGRES_USER=${PROJECT_NAME}
POSTGRES_PASSWORD=${PROJECT_NAME}
DATABASE_URL=postgresql://${PROJECT_NAME}:${PROJECT_NAME}@${PROJECT_NAME}-db:5432/${PROJECT_NAME}?serverVersion=17
